.carouselDots {
  display: none;
}

.carouselDot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #d1cdc9;
  cursor: pointer;
}

.carouselDotActive {
  background: #01005b;
}

@media (max-width: 480px) {
  .carouselDots {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 18px;
  }
}
